html{
  -webkit-font-smoothing: subpixel-antialiased;
  font-smooth: never;
-webkit-font-smoothing : none;
background-color: #000;
}

body {
  background-color: #000;
  width: 360px;
  margin: auto;
}

#click {
  position: fixed;
  left: 0;
  z-index: -1;
}

a:link {
  color: #ddd;
}

a:visited {
  color: #bbb;
}
a:hover {
  color: #eee;
}
a:active {
  color: #fff;
}

#gameArea {
 position: absolute;


}
#gameCanvas {
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
  width: 100%;
  height: 100%;
  background-color:#222;
}